body {
  background-color: black;
  margin: 0;
  font-family: 'Fredoka One', cursive,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input{
  display: flex;
  margin: 2rem; 
}
.search{
  margin: 0.5rem;
}
.carousel{
  z-index: -1;
}
.faq, .faq1{
  color: white;
  margin: 2rem;
}

.title {
  margin-top: 4rem;
  font-size: 1.5rem;
}
.title, .btn {
  color: wheat;
}
.card {
height: auto;
}
.titleProduct, .price {
  color: bisque;
  font-size: 1rem;
}
.col1{
  
  margin-bottom: 20rem;
}
.col{
  display: block;
}

.card-body{
  background-color: black;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
.muicard{
    margin: 2rem;
  }
.muicontent{
    background-color: rgb(50, 48, 48);
  }
.popUpContainer {
    position: absolute;
    top: 20rem;
    left: 20rem;
    right: 20rem;
    left: 20rem;
    border: thick;
    margin: 6rem;
    width: 30%;
    height: auto;
    background-color: transparent;
    
  }
.popUpBody{
  font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(201, 192, 192);
    color: black;
    width: 100%;
    height: 70%;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;
  }
.popUpFooter{
    width: 100%;
    text-align: right;
  }
.popUpCard {
  font-size: 20px;
}
.logo{
  width: auto;
  height: 100%;
}
.templateContainer{
  margin: 5% 0;
  
}
.templateContainer > .searchInput_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.templateContainer > .searchInput_Container input{
  width: 50%;
  padding: 10px;
  outline: none;
}
.templateContainer .template_Container{

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.templateContainer .template_Container .template{
  background-color: white;
  margin: 30px;
  padding: 0px 20px;
}
.templateContainer .template_Container .template img{
  height: 250px;
}
.login {
  margin: 3rem;
  color: white;
  display: flex;
  background-color: black;
}